.pagination {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #808080;

  &__pages {
    margin-right: 22px;
  }

  &__inner {
    display: flex;
    margin-left: 20px;
  }


  &__list {
    display: flex;
  }

  &__item {
    border-radius: 3px;
    margin-right: 10px;
    padding: 2px 6px;
    cursor: pointer;
  }

  &__span {
    margin-right: 16px;
  }

  &__totalPage {
    padding: 2px 0;
    margin-right: 26px;
  }

  .active {
    cursor: default;
    background-color: #0064EB;
    color: #ffffff;
  }

}

@media (max-width: 440px) {
  .pagination {
    &__pages {
      display: none;
    }
  }
}
