.pagination {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #808080;

  &__pages {
    margin-right: 22px;
  }

  &__inner {
    display: flex;
    margin-left: 20px;
  }

  &__button {
    cursor: pointer;
    padding: 0;
    border: none;
    color: inherit;

    svg {
      transition: all .3s;
    }

    &:hover {
      svg {
        fill: #0064EB;
      }
    }
  }

  &__list {
    display: flex;

  }

  &__item {
    border-radius: 3px;
    margin-right: 10px;
    padding: 2px 6px;
    cursor: pointer;
  }

  &__span {
    margin-right: 16px;
  }

  &__totalPage {
    cursor: pointer;
    padding: 2px 0;
    margin-right: 26px;
  }

  .active {
    background-color: #0064EB;
    color: #ffffff;
  }

  .disabled {
    cursor: inherit;
    &:hover {
      svg {
        fill: #808080;
      }
    }
  }
}
