.repository{
  padding: 24px 32px;
  margin-bottom: 24px;
  border-radius: 6px;
  width: 100%;
  min-height: 113px;
  background-color: #ffffff;
  &__title{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064EB;

  }
  &__link{
    color: inherit;
  }
  &__description{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  }
}
